@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'popping', sans-serif;
    box-sizing: border-box;
    text-decoration: 0;
    text-transform: capitalize;
    outline: none;
    border: none;
    transition: .2s linear;
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    padding: 3rem 9%;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    background: #bac343;
    color: #111;
}

.btn:hover {
    background: #111;
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgb(255, 255, 255);
    box-shadow: 0 .5rem 1rem rgba(180, 180, 180, 0.822);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: rgb(156, 89, 89);
}

.header .logo i {
    color: #bac343;
    padding-right: 3.5rem;
}

.navbar a {
    font-size: 1.7rem;
    color: #111;
    margin: 0.1rem;
}

.navbar a:hover {
    color: rgba(175, 169, 57, 0.8);
}

.icons div {
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: #111;
}

.icons div:hover {
    color: rgba(175, 169, 57, 0.9);
}

#menu-btn {
    display: none;
}

/*.space {
    min-height: 50vh;
}*/

.home {
    padding-top: 10rem;
    background: url(../img/home.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .slide-container .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    display: none;
}

.home .slide-container .slide.active {
    display: flex;
}

.home .slide-container .slide .content,
.image {
    flex: 1 1 40rem;
}

.home .slide-container .slide .content span {
    color: rgb(248, 247, 247);
    font-size: 4.3rem;
}

.home .slide-container .slide .content h3 {
    text-decoration: none;
    text-transform: none;
    font-family: monospace;
    color: rgb(0, 0, 0);
    font-size: 3rem;
    padding: .5rem;
    margin-left: 2rem;
}

.home .slide-container .slide img {
    width: 100%;
}

/*   block 2         */

.block-2 {
    margin-top: 100rem;
    padding-top: 100rem;
    position: relative;
}

.container-block2 {

    padding-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50rem;
    background-color: #243a6f;
}

.container-block2 .left {
    box-sizing: border-box;
    object-fit: cover;
}

.container-block2 .left img {
    object-fit: cover;
    height: 50%;

}

.container-block2 .right {
    align-self: center;
    text-align: center;
    padding: 1.6rem;
}

.container-block2 .right .btn {

    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    background: #bac343;
    color: #111;
}

.container-block2 .content h2 {
    color: #fbb419;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;


}














.footer {

    background:
        rgba(246, 246, 246, 0.315);

}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5em;
    background: rgb(255, 255, 255);
    padding-left: .5rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #111;
    padding: 1rem 0;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    color: #111;
    padding-bottom: .5rem;
}

.footer .box-container .box a {
    font-size: 1.4rem;
    color: #111;
    padding: 1rem 0;
    display: block;
}

.footer .box-container .box a:hover,
i {
    color: rgba(175, 169, 57, 0.8);
    padding-left: 1rem;
    font-weight: bolder;
}

.footer .box-container .box i {
    padding-right: .5rem;
    color: rgba(175, 169, 57, 0.8);
}

.form .email {
    width: 99%;

    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    text-transform: none;
    background: rgba(241, 241, 241, .6);
}

.credit {
    font-family: nunito;
    text-align: center;
    background: rgba(175, 169, 57, 0.8);
    color: #111;
    font-size: 2rem;
}




/*  media     */


.v-col {
    flex-basis: 50%;
    min-width: 100px;
    min-height: 100px;
}

.v-img {
    width: 75%;
    height: 35%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.small-img-row {
    display: flex;
    background: rgba(255, 255, 255, 0.822);
    opacity: 0.8;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 55%;
}

.smal-img {
    position: relative;
}


.small-img img {
    width: 150px;
    height: auto;
}

.small-img-row p {
    margin-left: 20px;
    color: #111;
    line-height: 22px;
    font-size: 15px;
    font-weight: 600;
}

.play-btn {
    width: 35px !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.videoplayer {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: none;
}

video:focus {
    outline: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}




@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    section {
        padding: 3rem 2rem;
    }

    .header {
        padding: 2rem;
    }


















}

@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }

    .header {
        padding: 2rem;
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        border-top: 0;
        border-bottom: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: rgba(241, 241, 241, .6);

        border-radius: .5rem;
        display: block;

    }

    .home .slide-container .slide .content h3 {
        display: inline-block;
        font-size: 2rem;
    }

    .container-block2 {
        grid-template-columns: 1fr;
    }

    .container-block2 .left {
        display: none;
    }

    .container-block2 .content h2 {
        font-size: 1rem;
    }

}




@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .home .slide-container .slide .content span {
        font-size: 2rem;
    }

    .v-img {
        width: 55%;
        height: 35%;
    }

    .smal-img img {
        width: 100px;
    }

    .small-img-row p {
        margin-left: 20px;
        font-size: 15px;
        font-weight: 400;
    }

    .play-btn {
        width: 30px;


    }

    .smal-img .play-btn {
        width: 25px;
    }

    .video-player {
        width: 35%;
        left: 35%;
        top: 30%;
    }







}