/*  media     */
.v-container {
    width: 80%;
    margin: 80px auto;
}

.v-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.v-col {
    flex-basis: 50%;
    min-width: 150px;
    min-height: 150px;
}

.v-img {
    width: 75%;
    height: 35%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.small-img-row {
    display: flex;
    background: #dad7fb;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 75%;
}

.smal-img {
    position: relative;
}

.smal-img img {
    width: 150px;
}

.small-img-row p {
    margin-left: 20px;
    color: #111;
    line-height: 22px;
    font-size: 15px;
}

.play-btn {
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.smal-img .play-btn {
    width: 35px;
}

.videoplayer {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: none;
}

video:focus {
    outline: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;

}